@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: montserrat-light;
    src: url(../fonts/Montserrat-Light.otf);
}

body {
    text-align: center;
}

.scene_text_container {
    border-radius: 25px;
    border: 4px solid #3f3f3f;
    background-color: #3f3f3f;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px 20px 20px 20px;
}

.scene_text {
    font-family: montserrat-light;
    text-align: justify;
    font-size: 20px;
    color: white;
}

.scene_dialogue {
    font-family: montserrat-light;
    font-size: 20px;
    text-align: center;
    color: #3f3f3f;
}

.scene_img {
    padding-top: 30px;
    width: 100%;
}
